<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/chat.css">
    <title>Document</title>
</head>

<body>
    <div id="main">
        <div id="navbar">
            <div class="icon">
                <a href="/"><i id="itag" class="ri-arrow-left-line"></i></a>
                <h5>Codeands... <i class="ri-arrow-drop-down-line"></i></h5>
                <i class="ri-menu-add-fill"></i>
                <i class="ri-line-chart-line"></i>
                <i class="ri-edit-box-line"></i>
            </div>
        </div>
        <div class="inputSec">
            <div class="input">
                <i class="ri-search-line"></i>
                <span>Search</span>
            </div>
            <a href="#">Filterd</a>
        </div>
        <div class="circleDiv">
            <div class="circle1">
                <div class="circle"></div>
                <span>Your note</span>
            </div>
            <div class="circle1">
                <div class="circle"></div>
                <span>HACKER_02</span>
            </div>
            <div class="circle1">
                <div class="circle"></div>
                <span>itx_prashu_02</span>
            </div>


        </div>
        <div class="threebtn">
            <button id="btn1">Primary</button>
            <button>General</button>
            <button>Request</button>
        </div>
        <div class="chats">
            <div class="chatimg">
                <div class="img"></div>
                <div class="text">
                    <p class="one">HACKER_02</p>
                    <p class="two">shared a link</p>
                </div>
                <i class="ri-camera-line"></i>
            </div>
        </div>
        <div class="chats">
            <div class="chatimg">
                <div class="img"></div>
                <div class="text">
                    <p class="one">HACKER_02</p>
                    <p class="two">shared a link</p>
                </div>
                <i class="ri-camera-line"></i>
            </div>
        </div>
        <div class="chats">
            <div class="chatimg">
                <div class="img"></div>
                <div class="text">
                    <p class="one">HACKER_02</p>
                    <p class="two">shared a link</p>
                </div>
                <i class="ri-camera-line"></i>
            </div>
        </div>
        <div class="chats">
            <div class="chatimg">
                <div class="img"></div>
                <div class="text">
                    <p class="one">HACKER_02</p>
                    <p class="two">shared a link</p>
                </div>
                <i class="ri-camera-line"></i>
            </div>
        </div>
        <div class="chats">
            <div class="chatimg">
                <div class="img"></div>
                <div class="text">
                    <p class="one">HACKER_02</p>
                    <p class="two">shared a link</p>
                </div>
                <i class="ri-camera-line"></i>
            </div>
        </div>
    </div>
    <div class="note">
        Note...
    </div>
</body>

</html>