<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css">
    <title>Edit Profile</title>
</head>
<body>
    <div id="main">
        <div class="container">
            <div class="boxs">
                <h3>Edit</h3>
                <div class="box">
                    <form action="/edit/<%= user._id %>" method="post" enctype="multipart/form-data">
                        <input type="text" placeholder="Name" name="name" value="<%= user.name %>">
                        <input type="text" placeholder="Bio" name="bio" value="<%= user.bio %>">
                        <input id="file" type="file" placeholder="Select profile picture" name="profilePic">
                        <div class="btns">
                            <button type="submit">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
