<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/editpost.css">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <div id="navbar">
            <a href="/profile"><i class="ri-arrow-left-line"></i></a>
            <h4>Instagram Post</h4>
        </div>
        <div id="postsec">
            <form action="/editpost/<%= usr._id %>" method="post">
                <textarea name="postcon" id="text""></textarea>
                <input type="submit" value="Edit">
            </form>
        </div>
    </div>
</body>
</html>