<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/search.css">
    <title>Document</title>
</head>

<body>
    <div id="main">
        <div id="searchbar">
            <a id="atag" href="/"><i id="itag" class="ri-arrow-left-line"></i></a>
            <div class="search">
                <i class="ri-search-line"></i>
                <span>Search</span>
            </div>
        </div>
        <div id="reelsec">
            <div class="boxes">
                <div class="box">
                    <div class="images"></div>                     
                    <div class="images"></div>                     
                    <div class="images"></div>                     
                    <div class="images"></div>                     
                    <div class="images"></div>                     
                    <div class="images"></div>                     
                    <div class="images"></div>                     
                    <div class="images"></div>                     
                    <div class="images"></div>                     
                    <div class="images"></div>                     

                </div>
            </div>

        </div>
    </div>
    <div class="bottombtns">
        <a href="/"><i class="ri-home-line"></i></a>
        <a href="/search"><i class="ri-search-line"></i></a>
        <a href="/sendpost/<%= usr._id%>"><i class="ri-add-box-line"></i></a>
        <i class="ri-video-line"></i>
        <div class="bottompic">
            <a href="/profile"><img src="/images/instadp.png" alt=""></a>
        </div>
    </div>
</body>

</html>