<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/signin.css">
    <title>Sign In</title>
</head>

<body>
    <div id="main">
        <div class="uppertext">
            <span>English (United States) <i class="ri-arrow-drop-down-line"></i></span>
        </div>
        <div class="container">
            <div class="boxs">
                <h3>Instagram</h3>
                <div class="box">
                    <form action="/signin" method="post">
                        <input type="text" placeholder="Phone number,email or username" name="username">
                        <input type="text" placeholder="Enter email" name="email">
                        <input type="text" placeholder="Password" name="password">
                        <dov class="btns">
                            <button>Sign In</button>
                        </dov>
                    </form>
                </div>
            </div>
        </div>
        <div class="bottom">
            <hr>
            <h5>Already registered ? <a href="/login"><span>Log In</span></a></h5>
        </div>
    </div>
</body>

</html>